@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --primary-color-light: #F54257;
  --primary-color-dark: #120000;
  --secondary-color: #FCB0BA;
  --secondary-color-light: #FEE7EA;
}

body {
  font-family: 'Ubuntu', sans-serif;
}